@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
}

body {
  background: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
